.submint {
  background: #6d5bd0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  position: relative;
  left: 350px;
}
