.form__submint {
  max-width: 200px;
  background: #6d5bd0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 24px;
  border-radius: 10px;
  float: right;
  transform: translateY(60px);
}
